
<h1>Expense Record List</h1>


<div class="list">
  <table border="1">
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th> </th>
    </tr>
    <ng-container *ngFor="let item of displayList ">
      <tr>
        <td>{{item.description}}    </td>
        <td >{{item.type}}    </td>
        <td>{{item.amount}}    </td>
        <td>{{item.date}}    </td>
        <td> <button (click)="delete(item)" class="button-blue">Delete</button> </td>
      </tr>
    </ng-container>
  </table>
</div>

<div>
  <h2>Create Record</h2>
  <div class="item">
    <div>
      Description: <input [(ngModel)]="item.description">
    </div>
    <div>
      Type: <input [(ngModel)]="item.type">
    </div>
    <div>
      Amount: <input [(ngModel)]="item.amount">
    </div>
    <div>
      Date: <input [(ngModel)]="item.date">
    </div>
  </div>
  <button (click)="save()" >Save</button>
</div>

